body {
	width: 100%;
	height: 100%;
	background: #f4f4f4;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Roboto', sans-serif;
	font-family: 'Raleway', sans-serif;
}
a,p, h1, h2, h3 {
	margin: 0;
	padding: 0;
	text-decoration: none;
}
ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.inputField {
	width: 100%;
	border:1px solid #cecece;
	padding: 12px 0;
	font-size: 16px;
	text-indent: 16px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.submitField {
	font-size: 16px;
	padding: 12px 16px;
	color: #fff;
	border:0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #283593;
}

.Header-wrapper {
	width: 100%;
	height: 50px;
	background: #283593;
}
.Header {
	width: 1000px;
	margin: 0 auto;
	vertical-align: top;
	position: relative;
}
.Header-logo {
	width: 160px;
	height: 50px;
	display: inline-block;
}
.Header-logo a {
	width: 100%;
	text-align: center;
	padding-top: 10px;
	height: 40px;
	display: inline-block;
	color: #fff;
	font-weight: 500;
	font-size: 22px;
}
.Header-logo:hover {
	background: #3F51B5;
}
.Header-options {
	display: inline-block;
	float: right;
	vertical-align: top;
} 
.Header-options-search {
	width: 400px;
	height: 50px;
	display: block; 
	float: left; 
}
.Header-options-search:hover {
	background: #303F9F;
}
.Header-options-search input {
	width: 100%;
	height: 50px;
	display: inline-block;
	background: transparent;
	outline: 0;
	padding: 0;
	margin: 0; 
	border:0;
	font-size: 14px;
}
.Header-options-createNote {
	height: 40px;
	padding: 0 15px;
	background: #4CAF50;
	border-top: 5px solid #283593;
	border-bottom: 5px solid #283593;
	display: inline-block;
}
.Header-options-createNote a {  
	width: 100%;
	height: 100%;
	display: inline-block;
} 
.Header-options-createNote a p {
	width: 100%;
	text-align: center;
	margin-top: 12px;
	color: #fff;
	font-weight: 500;
} 

.Header-options-profileLink {
	width: 160px;
	height: 50px;
	display: inline-block;
	text-align: center;
}
.Header-options-profileLink a {  
	display: inline-block; 
	color: #fff;
} 
#dropdownMenu:hover:hover .Header-options-menu {
	display: inline-block !important;
}
.Header-options-menu {
	width: 160px;
	display: inline-block; 
	display: none;
	position: absolute;
	top: 100%;
	right: 0; 
	list-style: none;
	background: #fff;
	z-index: 100;
}
.Header-options-menu-button {
	width: 100%;
	display: inline-block;
	text-align: right;
}
.Header-options-menu-button a{
	width: 100%;
	display: inline-block;
	padding: 10px 0;
	color: #222;
	direction:rtl;
	text-indent: 20px;
}

/*******************************
	Login
********************************/

.login {
	padding: 100px 0;
	background: url(../images/apps.jpg);
	background: url('../images/apps.jpg');
	background-size: cover;
	position: relative;
}
.login:before {
	width: 100%;
	height: 100%;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.7);
}
.login-form {
	width: 260px;
	min-height: 260px;
	margin:0 auto;
	background: #fff;
	border-radius: 3px;
	padding: 20px;
	position: relative;
	z-index: 10;
}
.login-form h1 {
	font-weight: 500;
	font-size: 30px;
	margin-bottom: 15px;
}
.login-form h2 {
	font-weight: 300;
	font-size: 16px;
	margin-bottom: 15px;
}
.login-form p {
	font-weight: 300;
	font-size: 16px;
	margin-bottom: 15px;
}


/*******************************
	containter-wrapper
********************************/

.Zero-NotesWrap {
	width: 100%;
	height: 530px;
	display: inline-block;
	position: relative;
}
.Zero-NotesWrap:before {
	height: 100%;
	position: absolute;
	top: 0;
	left: 10px;
	right: 10px;
	background: rgba(255,255,255,0.7);
	background: rgba(0,0,0,0.7);
	content: '';
	background: url(/images/supernotes2.jpg);
	background-size:cover;
}
.Zero-NotesWrap:after {
	height: 100%;
	top: 0;
	left: 10px;
	right: 10px;
	position: absolute;
	
	background: rgba(255,255,255,0.7);
	background: rgba(0,0,0,0.7);
	content: '';
}
.Zero-Notes {
	width: 300px;
	height: 200px;
	z-index: 10;
	position: absolute;
	top:50%;
	left: 50%;
	margin-left: -150px;
	margin-top: -100px;
	text-align: center;
}
.Zero-Notes-Title {
	font-size: 30px;
	font-weight: 300;
	color: #fff;
	margin-bottom: 20px;
}
.Zero-Notes-Create {
	/* background: #03A9F4;*/
	font-size: 18px;
	font-weight: 300;
	color: #fff;
	text-decoration: underline;
}
/*******************************
	containter-wrapper
********************************/

.containter-wrapper {
	width: 100%;
	margin-top: 20px;
}
.containter {
	width: 1020px;
	margin: 0 auto;
	text-align: center;
}

.Note-wrapper {
	width: 33.333%;
	margin-right: -4px;
	display: inline-block;
	vertical-align: top;
	text-align: left;
}
.Note {
	min-height: 220px;
	padding: 20px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
	background: rgba(255,255,255,0.9);
	position: relative;
	-webkit-transition: all 200ms; /* Safari */
	transition: all 200ms;
}
.Note:hover {
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.10);
	-moz-box-shadow:    0px 0px 15px 0px rgba(0, 0, 0, 0.10);
	box-shadow:         0px 0px 15px 0px rgba(0, 0, 0, 0.10);
}
.Note:hover .Note-Options {
	opacity: 1;
}
.Note-Options {
	width: 30px;
	height: 30px;
	position: absolute;
	opacity: 0;
	bottom: 15px;
	right: 15px;
	z-index: 14;
	-webkit-transition: all 300ms; /* Safari */
	transition: all 300ms;
}
.Note-Options-link {

	width: 30px;
	height: 30px;
	display: block;
	cursor: pointer;
	background: rgba(180,180,180, 0.3);
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	text-align: center;

}
.Note-Options:hover .Note-Options-dropDown {
	opacity: 1;
}
.Note-Options-dropDown {
	width: 100px;
	padding: 10px 15px;

	-webkit-transition: all 300ms; /* Safari */
	transition: all 300ms;
	opacity: 0;
	background: #fff;
	border:1px solid #cecece;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	position: absolute;
	bottom: 100%;
	right: 0;
	z-index: 30;
}
.Note-Options-dropDown li {
	width: 100%;
	text-align: right;
}
.Note-Options-dropDown li a {
	padding: 3px 0;
	display: block;
	direction:rtl; 
}
.Note-line-color {
	width: 100%;
	height: 3px;
	background: #fff;
	position: absolute;
	bottom: 0;
	left: 0;
}
.Note-link {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	z-index: 10;
	left: 0;
	right: 0;
	bottom: 0;
}
.Note-link a {
	width: 100%;
	height: 100%;
	display: block;
}
.Note-Date {
	font-size: 20px;
	line-height: 20px;
	color: #222;
	font-weight: 300;
	margin-bottom: 10px;
}
.Note-Title {
	color: #222;
	word-wrap:break-word;
	margin-bottom: 10px;
}
.Note-Title a {
	color: #222;
	font-size: 35px;
}
.Note-Content {
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.3px;
	color: #494949;
	margin-bottom: 10px;
}